@font-face {
  font-family: 'oppo';
  src: url('../oppo sans b.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coca';
  src: url('../Coca-ColaCareFontKaiTi.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GJ';
  src: url('../SourceHanSansCN-Light.otf');
  font-weight: normal;
  font-style: normal;
}
